<nav class="navbar navbar-toggleable-md fixed-top navbar-light bg-faded" id="topbar">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    <img src="/assets/images/logo RR.png" height="30" width="40" alt="">
  </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Zgłoś okaz <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Najnowsze</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Gatunki
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Boleń</a>
          <a class="dropdown-item" href="#">Brzana</a>
          <a class="dropdown-item" href="#">Sandacz</a>
          <a class="dropdown-item" href="#">Sum</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Rekordy
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Rekordy Polski</a>
          <a class="dropdown-item" href="#">Ten sezon</a>
          <a class="dropdown-item" href="#">Ten miesiąc</a>
          <a class="dropdown-item" href="#">Poprzedni rok</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav social-icons item-separator">
      <li class="nav-item social-facebook">
        <a href="#"><i class="fa fa-facebook"></i></a>
      </li>
      <li class="nav-item  social-youtube">
        <a href="#"><i class="fa fa-youtube-play"></i></a>
      </li>   
    </ul>
     <ul class="navbar-nav item-separator">
        <li class="nav-item">
        <a class="nav-link" href="#">Zaloguj</a>
      </li>
     </ul>
  </div>
</nav>